@import '../../mixins.module.scss';

.aboutUsSection {
  min-height: 71.7rem;
  background-image: url('../../../public/images/homepage/about-us-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7rem 2rem 0rem;
  position: relative;
  .aboutUsContainer {
    position: relative;
    max-width: 151rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    @include laptop {
      justify-content: space-between;
      flex-direction: row;
      gap: 4rem;
    }
    .left {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      max-width: 100%;
      .image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 71.8rem;
        min-width: 50rem;
      }
    }
    .right {
      padding: 2rem 0rem;
      text-align: center;
      @include laptop {
        max-width: 62rem;
        text-align: left;
      }
      .sectionLabel {
        @include sectionLabel;
        background-color: #f0e7ff;
        color: #9e007b;
      }
      h1 {
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 3rem;
        letter-spacing: 0.1em;
        color: #091c29;
        @include laptop {
          margin: 0rem;
          max-width: 35.9rem;
        }
      }
      hr {
        width: 90%;
        max-width: 35.9rem;
        height: 0.8rem;
        background-color: var(--dark-orange);
        border: none;
        border-radius: 1rem;
        @include laptop {
          margin: 0rem;
          margin-top: 1.5rem;
          margin-bottom: 2.7rem;
        }
      }
      .statistics {
        display: flex;
        // align-items: center;
        gap: 2rem;
        flex-direction: column;
        width: max-content;
        margin: 5rem auto 0rem;
        @include tablet {
          flex-direction: row;
          margin: 0rem;
          margin-top: 5rem;
        }
        @include laptop {
          flex-direction: column;
          margin: 5rem auto 0rem;
        }
        @include desktop {
          flex-direction: row;
          margin: 0rem;
          margin-top: 5rem;
        }
      }
      .clients,
      .projects {
        display: flex;
        gap: 1.4rem;
        align-items: center;
        padding: 2.8rem 1.8rem;
        background-color: white;
        border-radius: 1rem;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2rem;
        letter-spacing: 0.1em;
        color: #8b8b8b;
        text-transform: uppercase;
        span {
          font-weight: 600;
          font-size: 3.6rem;
          line-height: 3rem;
          letter-spacing: 0.1em;
          color: #091c29;
        }
        svg {
          font-size: 4rem;
        }
      }
      .projects {
        svg {
          color: #18f19c;
        }
      }
    }
  }
}
