@import '../../mixins.module.scss';

.buildSection {
  padding: 10rem 2rem;
  .buildContainer {
    position: relative;
    max-width: 151rem;
    margin: 0 auto;
    background-color: var(--dark-blue);
    border-radius: 2rem;
    min-height: 70rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-direction: column;
    @include laptop {
      flex-direction: row;
    }
    .left {
      display: flex;
      align-items: flex-end;
      max-width: 100%;
      @include laptop {
        justify-content: center;
      }
      .image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 67.8rem;
        min-width: 20rem;
      }
    }
    .right {
      padding: 6rem 1rem;
      @include largephone {
        padding: 4rem;
      }
      @include laptop {
        max-width: 73.6rem;
      }
      h1,
      p {
        color: #fff;
        text-align: center;
        @include laptop {
          max-width: 65.8rem;
          text-align: left;
        }
      }
      h1 {
        font-weight: 800;
        font-size: 4rem;
        line-height: 6rem;
        letter-spacing: 0.16em;
        margin: 0rem;
        margin-bottom: 2.2rem;
      }
      p {
        letter-spacing: 0.16rem;
        margin: 0rem;
        margin-bottom: 4.6rem;
      }
      .step {
        display: flex;
        background-color: white;
        border-radius: 1rem;
        margin-bottom: 2rem;
        overflow: hidden;
        gap: 1.2rem;
        flex-direction: column;
        text-align: center;
        transform: translateX(100%);
        transition: 0.2s;
        @include largephone {
          flex-direction: row;
          text-align: left;
        }
        .orangeBar {
          background: var(--dark-orange);
          border-radius: 1rem 0rem 0rem 1rem;
          width: 100%;
          min-height: 0.9rem;
          @include largephone {
            width: auto;
            min-width: 0.9rem;
            height: auto;
          }
        }
        .stepNo {
          font-weight: 800;
          font-size: 5.6rem;
          line-height: 4rem;
          letter-spacing: 0.16em;
          color: #e4e4e4;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
        }
        .stepDetails {
          padding: 1.1rem;
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          flex: 7;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.4rem;
          letter-spacing: 0.06em;
          color: var(--dark-blue);
          .title {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3rem;
          }
        }
      }
      a {
        @include greenButton;
        margin: auto;
        font-size: 1.4rem;
        @include laptop {
          font-size: 1.6rem;
          margin: 0rem;
          margin-top: 4rem;
        }
      }
    }
  }
}
