@import '../../mixins.module.scss';

.feedBackSection {
  background: white;
  color: #091c29;
  padding: 10rem 2rem 30rem;
  position: relative;
  overflow: hidden;
  .feedBackContainer {
    position: relative;
    max-width: 151rem;
    margin: 0 auto;
    .top {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 80rem;
      margin: 0 auto;
      h1 {
        font-weight: 700;
        font-size: 3.6rem;
        // line-height: 3rem;
        text-align: center;
        letter-spacing: 0.1em;
        color: #091c29;
        margin: 0rem;
      }
      hr {
        width: 90%;
        max-width: 45.7rem;
        height: 0.8rem;
        background-color: var(--dark-orange);
        border: none;
        border-radius: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 2.7rem;
      }
      .sectionLabel {
        @include sectionLabel;
        color: var(--dark-blue);
        background-color: #e7f2ff;
      }
    }
    .testimonialContainer {
      display: grid;
      margin-top: 6rem;
      gap: 2.8rem;
      justify-content: center;
      grid-template-columns: 1fr;
      @include laptop {
        grid-template-columns: repeat(3, 1fr);
      }
      .testimonial {
        display: flex;
        gap: 1.4rem;
        .image {
          width: 6rem;
          min-width: 6rem;
          height: 6rem;
          background-color: whitesmoke;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
        }
        p {
          margin: 0rem;
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 3rem;
          letter-spacing: 0.16em;
          color: #4f4f4f;
          margin-bottom: 0.4rem;
        }
        em {
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 3rem;
          letter-spacing: 0.16em;
          color: var(--dark-orange);
        }
      }
    }
  }
  .squigglyLine {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
  }
}
