@import '../../mixins.module.scss';

.innovationSection {
  background: #e7f2ff;
  color: white;
  padding: 0rem 2rem 0rem;
  position: relative;
  overflow: hidden;
  .backgroundDesign {
    position: absolute;
    left: 1.73%;
    right: -9.45%;
    top: -28.24%;
    bottom: -47.36%;
  }
  .innovationContainer {
    position: relative;
    max-width: 151rem;
    margin: 0 auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
    @include laptop {
      flex-direction: row;
      // align-items: center;
    }
    .left,
    .right {
      flex: 1;
    }
    .left {
      padding: 6rem 0rem 3rem;
      text-align: center;
      // display: flex;
      // flex-direction: column;
      @include laptop {
        text-align: left;
      }
      .sectionLabel {
        @include sectionLabel;
        color: var(--dark-orange);
        background: #ffe4d0;
      }
      h1 {
        font-weight: 800;
        font-size: 5.6rem;
        line-height: 7rem;
        letter-spacing: 0.1em;
        color: #091c29;
        margin: 0rem;
        margin-bottom: 1.6rem;
        @include laptop {
          max-width: 69.8rem;
        }
        span {
          color: var(--dark-orange);
        }
      }
      p {
        margin-bottom: 3.6rem;
        @include laptop {
          max-width: 61.4rem;
        }
      }
      .contactUs {
        @include blueButton;
        padding: 1.8rem 5.8rem;
      }
    }
    .right {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      @include laptop {
        justify-content: flex-end;
      }
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        width: 15.4rem;
        position: relative;
        overflow: hidden;
        background-color: whitesmoke;
        height: 59rem;
        img {
          min-width: 15.4rem;
        }
      }
      .image:nth-child(1) {
        height: 50.3rem;
      }
      .image:nth-child(2) {
        height: 55.5rem;
      }
      .image:nth-child(3) {
        height: 59rem;
      }
      .image:nth-child(4) {
        height: 52.8rem;
      }
    }
  }
}
