// MEDIA QUERIES PER SCREEN SIZE

@mixin phones {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin largephone {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1040px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1370px) {
    @content;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-15%);
  }
  50% {
    transform: translateX(15%);
  }
}

@mixin blueButton {
  background-color: var(--dark-blue);
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 1.2rem 3.7rem;
  border-radius: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: darken(#14153f, 5);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin greenButton {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3rem;
  letter-spacing: 0.16em;
  padding: 1.7rem 4.4rem;
  border-radius: 1rem;
  background-color: #0ff299;
  transition: 0.3s;
  width: max-content;
  cursor: pointer;
  svg {
    font-size: 2.6rem;
    transition: 0.3s;
    animation-name: leftToRight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: translateX(-25%);
  }
  &:hover {
    background-color: darken(#0ff299, 5);
  }
  &:disabled {
    opacity: 0.5;
  }
}

@mixin sectionLabel {
  color: black;
  background: white;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 3rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  width: max-content;
  padding: 0rem 1rem;
  margin: 0rem auto 2rem;
  @include laptop {
    margin: 0rem;
    margin-bottom: 2rem;
  }
}
